-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: ice_cream_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `branch_stock`
--

DROP TABLE IF EXISTS `branch_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `branch_stock` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `branch_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_branch_product` (`branch_id`,`product_id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `branch_stock`
--

LOCK TABLES `branch_stock` WRITE;
/*!40000 ALTER TABLE `branch_stock` DISABLE KEYS */;
INSERT INTO `branch_stock` VALUES (1,1,1,250,'2026-10-07 08:20:42'),(2,1,2,120,'2026-10-06 04:32:35'),(3,1,3,89,'2026-10-06 05:00:46'),(4,1,4,79,'2026-10-06 04:38:56'),(5,1,5,100,'2026-10-06 04:32:35'),(6,1,6,100,'2026-10-06 04:32:35'),(7,1,7,200,'2026-10-06 04:32:35'),(8,1,8,200,'2026-10-06 04:32:35'),(9,1,9,299,'2026-10-06 04:49:42'),(10,1,10,460,'2026-10-06 10:33:03'),(11,2,1,100,'2026-10-06 04:32:35'),(12,2,2,80,'2026-10-06 04:32:35'),(13,2,3,50,'2026-10-06 04:32:35');
/*!40000 ALTER TABLE `branch_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `branches`
--

DROP TABLE IF EXISTS `branches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `branches` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `code` varchar(20) NOT NULL,
  `address` varchar(255) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `branches`
--

LOCK TABLES `branches` WRITE;
/*!40000 ALTER TABLE `branches` DISABLE KEYS */;
INSERT INTO `branches` VALUES (1,'Main Warehouse & Colombo Branch','BR-CMB','No. 45, Galle Road, Colombo 03','011-2345678','2026-10-06 04:32:34'),(2,'Kandy Branch & Distribution Hub','BR-KDY','No. 12, Peradeniya Road, Kandy','081-2233445','2026-10-06 04:32:34');
/*!40000 ALTER TABLE `branches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cash_transactions`
--

DROP TABLE IF EXISTS `cash_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cash_transactions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `branch_id` int(11) NOT NULL,
  `date` date NOT NULL,
  `type` enum('expense','cash_in','cash_out') NOT NULL,
  `category` varchar(100) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cash_transactions`
--

LOCK TABLES `cash_transactions` WRITE;
/*!40000 ALTER TABLE `cash_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `cash_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (1,'1L Tubs & Family Packs','2026-10-06 04:32:35'),(2,'500ml Tubs','2026-10-06 04:32:35'),(3,'Cones & Waffles','2026-10-06 04:32:35'),(4,'Cups & Single Servings','2026-10-06 04:32:35'),(5,'Ice Chocs & Sticks','2026-10-06 04:32:35');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_cash_register`
--

DROP TABLE IF EXISTS `daily_cash_register`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `daily_cash_register` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `branch_id` int(11) NOT NULL,
  `date` date NOT NULL,
  `opening_cash` decimal(12,2) DEFAULT 0.00,
  `pos_cash_total` decimal(12,2) DEFAULT 0.00,
  `lorry_cash_total` decimal(12,2) DEFAULT 0.00,
  `expenses_total` decimal(12,2) DEFAULT 0.00,
  `expected_closing_cash` decimal(12,2) DEFAULT 0.00,
  `actual_closing_cash` decimal(12,2) DEFAULT 0.00,
  `difference` decimal(12,2) DEFAULT 0.00,
  `status` enum('open','closed') DEFAULT 'open',
  `closed_by` int(11) DEFAULT NULL,
  `closed_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_branch_date` (`branch_id`,`date`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_cash_register`
--

LOCK TABLES `daily_cash_register` WRITE;
/*!40000 ALTER TABLE `daily_cash_register` DISABLE KEYS */;
INSERT INTO `daily_cash_register` VALUES (1,1,'2026-10-06',0.00,1770.00,0.00,0.00,1770.00,1770.00,0.00,'open',NULL,NULL);
/*!40000 ALTER TABLE `daily_cash_register` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lorries`
--

DROP TABLE IF EXISTS `lorries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lorries` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `branch_id` int(11) NOT NULL,
  `plate_no` varchar(50) NOT NULL,
  `driver_name` varchar(100) NOT NULL,
  `contact_no` varchar(50) DEFAULT NULL,
  `route_name` varchar(100) DEFAULT NULL,
  `status` enum('available','on_route','maintenance') DEFAULT 'available',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `plate_no` (`plate_no`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lorries`
--

LOCK TABLES `lorries` WRITE;
/*!40000 ALTER TABLE `lorries` DISABLE KEYS */;
INSERT INTO `lorries` VALUES (1,1,'WP CAB-4521','Kamal Perera','077-1122334','Colombo North / Gampaha Route','available','2026-10-06 04:32:35'),(2,1,'WP ND-8890','Sunil Shantha','071-4455667','Colombo South / Moratuwa Route','available','2026-10-06 04:32:35'),(3,2,'CP BC-1234','Nuwan Silva','075-8899001','Kandy - Peradeniya Line','available','2026-10-06 04:32:35');
/*!40000 ALTER TABLE `lorries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lorry_dispatch_items`
--

DROP TABLE IF EXISTS `lorry_dispatch_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lorry_dispatch_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `dispatch_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `loaded_qty` int(11) NOT NULL DEFAULT 0,
  `unit_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `return_store_qty` int(11) NOT NULL DEFAULT 0,
  `damage_qty` int(11) NOT NULL DEFAULT 0,
  `sold_qty` int(11) NOT NULL DEFAULT 0,
  `subtotal` decimal(12,2) NOT NULL DEFAULT 0.00,
  PRIMARY KEY (`id`),
  KEY `dispatch_id` (`dispatch_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lorry_dispatch_items`
--

LOCK TABLES `lorry_dispatch_items` WRITE;
/*!40000 ALTER TABLE `lorry_dispatch_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `lorry_dispatch_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lorry_dispatches`
--

DROP TABLE IF EXISTS `lorry_dispatches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lorry_dispatches` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `dispatch_no` varchar(50) NOT NULL,
  `lorry_id` int(11) NOT NULL,
  `branch_id` int(11) NOT NULL,
  `dispatch_date` date NOT NULL,
  `dispatch_time` time DEFAULT NULL,
  `settlement_time` time DEFAULT NULL,
  `status` enum('dispatched','settled') DEFAULT 'dispatched',
  `total_loaded_qty` int(11) DEFAULT 0,
  `total_sold_qty` int(11) DEFAULT 0,
  `total_return_store_qty` int(11) DEFAULT 0,
  `total_damage_qty` int(11) DEFAULT 0,
  `expected_cash` decimal(12,2) DEFAULT 0.00,
  `actual_cash` decimal(12,2) DEFAULT 0.00,
  `cash_difference` decimal(12,2) DEFAULT 0.00,
  `notes` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `settled_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `settled_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `dispatch_no` (`dispatch_no`),
  KEY `lorry_id` (`lorry_id`),
  KEY `branch_id` (`branch_id`),
  KEY `dispatch_date` (`dispatch_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lorry_dispatches`
--

LOCK TABLES `lorry_dispatches` WRITE;
/*!40000 ALTER TABLE `lorry_dispatches` DISABLE KEYS */;
/*!40000 ALTER TABLE `lorry_dispatches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pos_sale_items`
--

DROP TABLE IF EXISTS `pos_sale_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pos_sale_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sale_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `quantity` int(11) NOT NULL,
  `unit_price` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sale_id` (`sale_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pos_sale_items`
--

LOCK TABLES `pos_sale_items` WRITE;
/*!40000 ALTER TABLE `pos_sale_items` DISABLE KEYS */;
INSERT INTO `pos_sale_items` VALUES (1,1,4,1,900.00,900.00),(2,2,9,1,90.00,90.00),(3,3,3,1,780.00,780.00);
/*!40000 ALTER TABLE `pos_sale_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pos_sales`
--

DROP TABLE IF EXISTS `pos_sales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pos_sales` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bill_no` varchar(50) NOT NULL,
  `branch_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `sale_date` date NOT NULL,
  `sale_time` time NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `discount` decimal(10,2) DEFAULT 0.00,
  `grand_total` decimal(10,2) NOT NULL,
  `cash_paid` decimal(10,2) NOT NULL,
  `change_given` decimal(10,2) NOT NULL,
  `payment_method` varchar(30) DEFAULT 'Cash',
  `customer_name` varchar(100) DEFAULT 'Walk-in Customer',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `bill_no` (`bill_no`),
  KEY `branch_id` (`branch_id`),
  KEY `sale_date` (`sale_date`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pos_sales`
--

LOCK TABLES `pos_sales` WRITE;
/*!40000 ALTER TABLE `pos_sales` DISABLE KEYS */;
INSERT INTO `pos_sales` VALUES (1,'POS-261006-7728',1,1,'2026-10-06','06:38:56',900.00,0.00,900.00,1000.00,100.00,'Cash','','2026-10-06 04:38:56'),(2,'POS-261006-4455',1,1,'2026-10-06','06:49:42',90.00,0.00,90.00,90.00,0.00,'Cash','','2026-10-06 04:49:42'),(3,'POS-261006-5013',1,1,'2026-10-06','07:00:46',780.00,0.00,780.00,780.00,0.00,'Card','','2026-10-06 05:00:46');
/*!40000 ALTER TABLE `pos_sales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category_id` int(11) DEFAULT NULL,
  `code` varchar(50) NOT NULL,
  `name` varchar(150) NOT NULL,
  `flavor` varchar(50) DEFAULT NULL,
  `size` varchar(50) DEFAULT NULL,
  `cost_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `selling_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `unit` varchar(20) DEFAULT 'Nos',
  `alert_quantity` int(11) DEFAULT 20,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_invoice_items`
--

DROP TABLE IF EXISTS `stock_invoice_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock_invoice_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `invoice_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `quantity` int(11) NOT NULL,
  `cost_price` decimal(10,2) NOT NULL,
  `selling_price` decimal(10,2) NOT NULL,
  `batch_no` varchar(50) DEFAULT NULL,
  `expire_date` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `invoice_id` (`invoice_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_invoice_items`
--

LOCK TABLES `stock_invoice_items` WRITE;
/*!40000 ALTER TABLE `stock_invoice_items` DISABLE KEYS */;
INSERT INTO `stock_invoice_items` VALUES (1,1,1,20,550.00,750.00,'BTH-2601',NULL),(2,2,10,160,70.00,100.00,'BTH-2601',NULL),(3,2,1,10,70.00,100.00,'',NULL),(4,2,1,10,70.00,100.00,'',NULL),(5,2,1,10,70.00,100.00,'',NULL),(6,2,1,10,70.00,100.00,'',NULL),(7,2,1,10,70.00,100.00,'',NULL),(8,3,1,20,550.00,750.00,'BTH-2601',NULL);
/*!40000 ALTER TABLE `stock_invoice_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_invoices`
--

DROP TABLE IF EXISTS `stock_invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock_invoices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `invoice_no` varchar(100) NOT NULL,
  `branch_id` int(11) NOT NULL,
  `invoice_date` date NOT NULL,
  `supplier_name` varchar(150) DEFAULT 'Factory / Central Warehouse',
  `total_items` int(11) DEFAULT 0,
  `total_cost` decimal(12,2) DEFAULT 0.00,
  `notes` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_invoices`
--

LOCK TABLES `stock_invoices` WRITE;
/*!40000 ALTER TABLE `stock_invoices` DISABLE KEYS */;
INSERT INTO `stock_invoices` VALUES (1,'INV-261006-245',1,'2026-10-06','Central Cold Storage Factory',20,11000.00,'test',1,'2026-10-06 04:39:46'),(2,'INV-261006-163',1,'2026-10-06','Central Cold Storage Factory',210,14700.00,'test',1,'2026-10-06 10:33:03'),(3,'INV-261007-408',1,'2026-10-07','Central Cold Storage Factory',20,11000.00,'test',1,'2026-10-07 08:20:42');
/*!40000 ALTER TABLE `stock_invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `branch_id` int(11) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('super_admin','admin','cashier') NOT NULL DEFAULT 'cashier',
  `phone` varchar(50) DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `branch_id` (`branch_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,NULL,'Super Administrator','admin','$2y$10$M7I8DsR75.v9pC3PR3hn.exkC77SobZck6oMdIrzX75ubdWv9Q3N2','super_admin','077-1234567','active','2026-10-06 04:32:35'),(2,1,'Colombo Branch Manager','branch_admin','$2y$10$M7I8DsR75.v9pC3PR3hn.exkC77SobZck6oMdIrzX75ubdWv9Q3N2','admin','077-7654321','active','2026-10-06 04:32:35'),(3,1,'POS Cashier 01','cashier','$2y$10$vsFKoYBzh6PeqfxgzRrhn.dJl41IN4xwTnCMhggh4bEQOEN8KkCj.','cashier','071-9988776','active','2026-10-06 04:32:35');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-07 14:00:59
